:root {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

h1.glow {
  color: white;
  font-size: 7.2rem;
  margin-top: 0;
  text-align: center;
  padding-left: 12rem;
  transform: translateY(3rem) rotate(5deg);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f77e05, 0 0 40px #f77e05, 0 0 50px #f77e05, 0 0 60px #f77e05,
      0 0 70px #f77e05;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #f6a206, 0 0 40px #f6a206, 0 0 50px #f6a206, 0 0 60px #f6a206, 0 0 70px #f6a206,
      0 0 80px #f6a206;
  }
}

#blocker {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  display: none;
  cursor: wait;
  display: block;
}

#loading-text {
  text-align: center;
}

#btn-reload,
.body {
  display: none;
}

#btn-reload {
  font-size: 6rem;
  margin: 7rem auto 0;
  padding: 1rem 2rem;
  background-color: grey;
  color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 0 0 black;
  transition: 0.5s all ease;
  cursor: zoom-in;
}

#btn-reload:hover {
  font-size: 12rem;
  background-color: red;
  color: white;
  box-shadow: -15px 15px 0 0 black;
}

#btn-reload:active {
  box-shadow: -15px 15px 0 0 black, 2px 2px 4px 0px rgba(0, 0, 0) inset;
}

.body {
  cursor: wait;;
  min-height: 400vh;
  position: relative;
}

.matts-cat {
  position: absolute;
  right: 5%;
  top: 3%;
  width: 30rem;
  transform: rotate(20deg);
  z-index: 1;
  cursor: zoom-in;
}

.your-beer {
  position: absolute;
  left: 5%;
  top: 3%;
  width: 30rem;
  transform: rotate(-20deg);
  z-index: 1;
}

.eyes {
  position: absolute;
  left: 0;
}

.matts-cat:hover .eyes {
  transform: scale(1.5) translateY(14px) translateX(-2px);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.song-player {
  opacity: 0;
  position: absolute;
}

.bg-img {
  position: absolute;
  background-image: url('https://media.tenor.com/images/f047df15315c12e886d55b68a468e511/tenor.gif');
  background-size: 5%;
  background-repeat: repeat;
  clip-path: polygon(0 0, 0 100%, 0 0%, 0 0);
  animation: slow-load 25s linear forwards;
  width: 100%;
  height: 100%;
}

.chicken {
  position: absolute;
  background-image: url('https://rinchu06.files.wordpress.com/2013/08/chicken.gif');
  background-size: 5%;
  background-repeat: repeat;
  width: 50%;
  height: 50%;
}

.duck {
  position: absolute;
  background-image: url('https://emojis.slackmojis.com/emojis/images/1581377532/7776/chicken.gif?1581377532');
  background-size: 5%;
  background-repeat: repeat;
  width: 50%;
  height: 50%;
  top: 50%;
}

.chicken-2,
.duck-2 {
  left: 50%;
}

.chicken-2 {
  top: 50%;
}

.duck-2 {
  top: 0;
}

@keyframes slow-load {
  0% {
    clip-path: polygon(0 0, 0 0%, 100% 0%, 100% 0);
  }
  10% {
    clip-path: polygon(0 0%, 0 10%, 100% 10%, 100% 0);
  }
  30% {
    clip-path: polygon(0 0%, 0 30%, 100% 30%, 100% 0);
  }
  70% {
    clip-path: polygon(0 0%, 0 70%, 100% 70%, 100% 0);
  }
  100% {
    clip-path: polygon(0 0%, 0 100%, 100% 100%, 100% 0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) translate(-100%, -100%);
  }

  50% {
    transform: rotate(180deg) translate(50%, 50%);
  }
  100% {
    transform: rotate(360deg) translate(-100%, -100%);
  }
}

footer {
  margin-top: 40px;
}

img {
  width: 100%;
  height: auto;
}

.content {
  width: 1006px;
  padding: 4px;
  position: relative;
  background-color: white;
  box-shadow: 0 0 3px black;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
}

.hero {
  background-color: #a7ecef;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hero img {
  width: 80%;
}

#chat-boxes {
  height: 500px;
  position: relative;
  background: #f8f7b3;
}

.chat-box,
.chat-box:after {
  transition: all 0.4s ease-in-out;
}

.chat-box {
  width: auto;
  border-radius: 3px;
  padding: 2px 8px;
  font-size: 22px;
  background: #fff;
  transform: translateZ(0);
  border: 1px solid #a8a8a8;
  display: inline-block;
  position: relative;
  margin: 10px;
  cursor: zoom-in;
}

.chat-box:after,
.chat-box:before {
  position: absolute;
  border-style: solid;
  content: '';
}

.chat-box:before {
  border-width: 10px 11px 0 0;
  border-color: #a8a8a8 transparent transparent;
  left: 7px;
  bottom: -10px;
}

.chat-box:after {
  border-width: 9px 8px 0 0;
  border-color: #fff transparent transparent;
  left: 8px;
  bottom: -8px;
}

.chat-box:hover {
  background: #ddd;
  animation-name: hvr-pulse-grow;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.chat-box:hover:after {
  border-color: #ddd transparent transparent !important;
}

.animated-chat {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}

@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

#expect {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: white;
  padding: 2rem;
  cursor: zoom-in;
}

#them {
  display: none;
}

#expect:hover + #them,
#them:hover {
  display: block;
  z-index: 3;
  position: fixed;
  right: 0;
  bottom: 3rem;
  width: 500px;
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.accept-cookie > button {
  background-color: #0f866c;
  color: #fff;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.accept-cookie {
  position: fixed;
  left: 0;
  bottom: 0;
  width: clamp(100px, 20vw, 350px);
  background-color: #da3940;
  color: #fff;
  border-radius: 10px;
  margin: 1.5rem;
  padding: 1rem 2.5rem 1.5rem;
  transition: 0.5s all ease-in-out;
  transform: translate(0, 0);
  opacity: 1;
  z-index: 10000000000;
}

.accept-cookie.slide-out {
  transform: translate(-120%, 120%);
}

.accept-cookie.fade-out {
  opacity: 0;
}

.accept-cookie.slide-right {
  transform: translateX(100vw);
  opacity: 0;
}

.accept-cookie.slide-up {
  transform: translateY(-100vh);
  opacity: 0;
}

.accept-cookie.slide-corner {
  transform: translate(100vw, -100vh);
  opacity: 0;
}

.accept-cookie.zoom-out {
  transform: scale(1000%, 1000%);
  opacity: 0;
}

div.dont-add-images {
  position: relative;
}

img#stars {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 200px;
  transform: rotate(45deg) translate(30%, 30%);
}
